body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

}

.ImputNome {
  display: flex;
  flex-direction: row-reverse;

}

.ImputNome input {
  padding: 1vh 10vw;
  border-radius: 30px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.ReceitasNome ul {
  margin: auto;
  display: flex;
  flex-direction: column;

  max-width: 50vw;
  max-height: 100vh;
  font-size: medium;
  color: rgb(101, 100, 100);


}

.ReceitasNome ul :hover {
  background-color: beige;
}

.ReceitasNome ul li {
  margin-top: 3vh;
  background-color: rgb(172, 190, 190);

  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.ListasReceitasT img {
  width: 30vw;
}


.ListasReceitasT {
  border: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.ElementosReceita {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.ElementosReceita h4{
  margin-left: 12px;
}


.container-centro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: auto;


}

@media screen and (max-width:1000px) {

  h1 {
    font-size: 30px
  }

  .ElementosReceita {
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
  }

  .ElementosReceita img {
    width: 40vw;
    height: auto;

  }

  .ReceitasNome ul {
    margin: 0;
    font-size: smaller;
    flex-direction: column;
    max-width: 100vw;
    align-self: center;

  }


  .ReceitasNome {
    display: flex;
    align-items: center;
  }


}