/* .ReceitasLetra{
    display: flex;
    flex-direction: column;
}

.ImputLetra{
    display: flex;
    flex-direction: row-reverse;
    
}

.ImputLetra input{
    padding: 1vh 10vw;
    border-radius: 30px;
   
}

.ListaReceitasLetra img{
    width: 50px;
    
    
}

.ReceitaLetra-img {
    width: 50vh; 
  } */