 .ReceitasGrupo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 @media screen and (max-width:930px) {
    .ReceitasGrupo{
      flex-direction: column;
      flex-wrap: wrap;
    }
 }